<div id="wrap">
    <div id="main" class="clear-top">
        {{> navbar }}
        <div class="container">
            <div class="row pt-2">
            {{#each distributors}}
                <div class="col-md mb-2">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Aged: {{age}}</h6>
                        <p class="card-text">This distributor executed his duties for {{projects}} and managed to archieve a performance of {{performance}}%</p>
                        <a data-id="{{id}}" role="button" href="#" class="btn btn-sm btn-outline-primary d-block btn-broadcast">Broadcast</a>
                      </div>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>
{{> footer }}
